[Unit]
Description=Meta The Gathering Telegram Bot
After=network.target otel-collector.service

[Service]
Type=simple
User=mbabaev
WorkingDirectory=/home/mbabaev/MetaTheGathering/meta_the_gathering
Environment="PATH=/home/mbabaev/MetaTheGathering/meta_the_gathering/venv/bin"
Environment="PYTHONPATH=/home/mbabaev/MetaTheGathering/meta_the_gathering"
EnvironmentFile=/home/mbabaev/MetaTheGathering/meta_the_gathering/bot/.env
ExecStart=/home/mbabaev/MetaTheGathering/meta_the_gathering/venv/bin/python main.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
